<!DOCTYPE html>
<html >
    <%- include('./head.html'); %>
    
    <body>
      
        <div class="main">
            <header>
                <h1>société lafleur</h1>
                <h2>fleur d'ornement pour jardin</h2>
            </header>
            <div class="link">
      
                    <a href="/"><h2>Accueil</h2></a>
                    
             
                    <% users.forEach(function(user){ %>
                        <a href="<%-user.link  %>"><h2><%-user.name  %></h2></a>
                       <% }); %>
                
            </div>
           
            <div class="page">
                <table>
                    <td>photo</td><td>reférence</td><td>Désignation</td><td>prix</td>
                    <%for(var i=0;i<produit.length;i++){%>
                    <tr><td><img src="<%= produit[i].photo %>"> </td><td><%= produit[i].reference %></td><td><%= produit[i].designation %></td><td><%= produit[i].prix %></td></tr><%}%>
                    </table>
            </div>
            <%- include('./footer.html'); %>
        </div>
        
    </body>
</html>