<!DOCTYPE html>
<html >
    <%- include('./head.html'); %>
    
    <body>
        <header>
            <h1>société lafleur</h1>
            <h2>fleur d'ornement pour jardin</h2>
        </header>
        <div class="main">
         
            <div class="link">
      
                    <a href="/"><h2>accueil</h2></a>
                    
             
                    <% users.forEach(function(user){ %>
                        <a href="<%-user.link  %>"><h2><%-user.name  %></h2></a>
                       <% }); %>
                
            </div>
           
          <form action="/contact"method="POST">
            <p>votre mail</p>
            <input type="email" name="mail" id="mail">
            <p>votre message</p>
            <input type="text" name="message" id="message">
            <input type="submit">
          </form>
            <script>var email = document.getElementById("mail");

              email.addEventListener("keyup", function (event) {
                if (email.validity.typeMismatch) {
                  email.setCustomValidity("J'attends un e-mail, mon cher !");
                } else {
                  email.setCustomValidity("");
                }
              });
              </script>
        </div>
        <%- include('./footer.html'); %>
    </body>
</html>
    
