<!DOCTYPE html>
<html >
    <%- include('./head.html'); %>
    
    <body>
        <header>
            <h1>société lafleur</h1>
            <h2>fleur d'ornement pour jardin</h2>
        </header>
        <div class="main">
         
            <div class="link">
      
                    <a href="/"><h2>accueil</h2></a>
                    
             
                    <% users.forEach(function(user){ %>
                        <a href="<%-user.link  %>"><h2><%-user.name  %></h2></a>
                       <% }); %>
                
            </div> <div class="page">
           <% if(typeof message!=="undefined"){%>
            <h1><%-message  %></h1>
            <%}%>
          <form action="/contact"method="POST">
            <p>votre mail</p>
            <input type="email" name="mail" id="mail" required>
            <p>votre message</p>
            <input type="text" name="message" id="message"required>
            <input type="submit">
          </form>
            <script>var email = document.getElementById("mail");
              var message =document.getElementById("message")
              message.addEventListener("keyup", function (event) {
                console.log(message.value.length)
                if (message.value.length<1) {
                  message.setCustomValidity("trop court");
                } else {
                  message.setCustomValidity("");
                }
              });
              email.addEventListener("keyup", function (event) {
                if (email.validity.typeMismatch) {
                  email.setCustomValidity("J'attends un e-mail, mon cher !");
                } else {
                  email.setCustomValidity("");
                }
              });
              </script>
              
            </div>
        </div>
        <%- include('./footer.html'); %>
    </body>
</html>
    
