<!DOCTYPE html>
<html >
    <head>
        <link rel="stylesheet" href="stylesheets/style.css">
         <title>
             société lafleur
         </title>
     </head>
    
    <body>
        <header>
            <h1>société lafleur</h1>
            <h2>fleur d'ornement pour jardin</h2>
        </header>
        <div class="main">
         
            <div class="link">
      
                    <a href="/"><h2>accueil</h2></a>
                    
             
                    <% users.forEach(function(user){ %>
                        <a href="<%-user.link  %>"><h2><%-user.name  %></h2></a>
                       <% }); %>
                
            </div>
           
            <div class="page">
                <p>"dite le avec des fleur "</p>
                <img src="images/ACCUEIL.JPG">
                <p>appelée notre service commercial au</p> <a href="tel:0298846574">0298846574</a><p>pour recevoir un bon de commande</p>
            </div>
            
        </div>
        <footer></footer>
    </body>
</html>
    
