body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: 100%;
}

a {
  color: #00B7FF;
}
div{
  
  grid-template-columns: 1fr 4fr;
  
}
div.main{
  display: grid;
  border: 1px solid black;
  border-color: black;
}.menu{

  border: 1px solid black;
  
}.page{
  border: 1px solid black;
  text-align: center;
  grid-column: 2/4;
 display:fit-content
}.link{
  display: table-column;
  border: 1px solid black;
  border-color: black;
  grid-column: 1;
}
header{
  text-align: center;
  grid-column: fit-content/1;
}
footer{
  text-align: center;
  grid-column: fit-content/1;
}
tr{
  border: 1px solid black;
  display: calc(100%);
}
td{
  border: 1px solid black;
  
  
}
table{
  width: fit-content;
  height: fit-content;
  display: fit-content;
}